<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior0" name="Week4.Employee.Wcf.EmployeeService">
                <endpoint address="http://localhost:7777" binding="basicHttpBinding"
                    bindingConfiguration="" contract="Week4.Employee.Wcf.IEmployeeService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7777" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>